
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}


body{

    background-color:rgba(245, 219, 180, 0.597);
}

main{
    width: 100%;
    height: 100%;
}

.container{
    background-color: white;
    
  
    width: 40%;
    height: 30rem;
    display: flex;
    gap: 7rem;
    margin: 0 auto;
      margin-top: 8rem;
      border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
        border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
      

}

.image{
    width: 180%;
    height: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    
}

.main-text{
     padding-left: 4rem;
}

.main-text p{
    margin-top: 2em;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    margin-bottom: 1.5em;
   
    
}

.main-text h2{
    font-weight: 900;
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 0.7em;
  
}

.par{

max-width: 70%;
margin-bottom: 1em;
color: rgba(128, 128, 128, 0.873);

}

.special{
    font-size: 2rem;
    color: rgb(6, 170, 116);
    font-weight: 600;
}

.regular{
    font-size:1.2rem;
    padding-left: 1.5em;
    padding-bottom: 2em;
    text-decoration: line-through;
}


.btn{
    margin-top: 2rem;
}



a{
    background-color: rgb(6, 170, 116);
    padding: 1em;
    max-width: 90%;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.size-6{
    width: 2rem;
    height: 2rem;
    
    
}

@media(max-width:375px){
    .container{
   
    width: 90%;
    height: 80%;
    display: grid;

    }

    .image{
    width: 100%;
    border-radius: 1rem;
      gap: 1rem;

    

    
    
}
}